html {
    height: 2000px;
}

.navbar {
    margin: none;
    padding: none;
    height: 100px;
    width: 100%;
    border-bottom: 1px solid black;
    
}

.navbar-list li{
    display: inline-block;
    
}

.navbar-link {
    display: block;
    text-align: center;
    line-height: 50px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}